* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

/* a
  text-decoration: none */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_link:hover {
  color: #1EACC7;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_logotext {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_number {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
  text-decoration: none;
}

.subheader_number:hover {
  color: #fff;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: orange;
  transition: 0.5s all;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: orange;
  transition: 0.5s all;
}

.reason {
  padding: 71px 0 65px 0;
}

.reason_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reason_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  border-radius: 100%;
}

.reason_descr {
  width: 343px;
}

.reason_subtittle {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}

.reason_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.label_white {
  background-color: #fff;
  color: #000;
}

.label_min {
  width: 76px;
}

.tittle {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.tittle_white {
  color: #fff;
}

.subtittle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.subtittle_white {
  color: #fff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mobile_item_1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile_item_2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile_item_3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile_item_4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile_item_5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile_item_6.png") center center/cover no-repeat;
}

.mobile_item_subtittle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/choice_bg.png");
}

.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
  max-width: 100%;
}

.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_tittle {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/ticks/blue_tick.svg") center center/cover no-repeat;
}

.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

.require .orange .require_tittle {
  color: #FF5656;
}

.require .orange .require_list li:before {
  background: url("../icons/ticks/red_tick.svg") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg/map_bg.png") center center/cover no-repeat;
}

.world_all_cities {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
}

.world_all_cities:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  padding: 14px 23px 39px 23px;
}

footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_social_item i {
  color: #fff;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
}

.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reason_item {
    align-items: flex-start;
  }
  .reason_descr {
    width: 300px;
  }
  .mobile_item {
    width: 290px;
  }
  .mobile_item_subtittle {
    font-size: 22px;
  }
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  .require br {
    display: none;
  }
  .footer_wrapper > div {
    width: 50%;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  .footer_mobile {
    display: flex;
  }
  .footer_mobile a {
    margin: 0 3px;
  }
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 9px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logotext {
    font-size: 11px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_number {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    width: 100%;
    height: 40px;
    font-size: 13px;
  }
  .promo_header {
    font-size: 41px;
  }
  .promo_subheader {
    font-size: 27px;
  }
  .reason .tittle {
    font-size: 36px;
  }
  .reason_item {
    flex-direction: column;
    align-items: center;
  }
  .reason_round {
    margin-right: 0;
  }
  .reason_descr {
    width: 300px;
    margin-top: 20px;
  }
  .mobile .tittle {
    font-size: 36px;
  }
  .choice {
    min-height: 800px;
  }
  .choice_img {
    width: 100%;
  }
  .world {
    min-height: 650px;
  }
  .footer_wrapper {
    flex-wrap: wrap;
  }
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin: 10px 0;
    padding-right: 0;
    border: none;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_number {
    display: block;
    margin-top: 12px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader_logotext {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_number {
    font-size: 12px;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding: 102px 0 35px 0;
  }
  .promo_text {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo_subheader {
    font-size: 18px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
  .menu_link {
    display: block;
  }
  .reason {
    padding: 22px 0 36px 0;
  }
  .reason_item {
    margin-top: 26px;
  }
  .reason_round {
    width: 100px;
    height: 100px;
  }
  .reason_descr {
    width: 100%;
    margin-top: 27px;
  }
  .reason_subtittle {
    font-size: 16px;
  }
  .reason .tittle {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .mobile {
    padding: 20px 0 40px 0;
  }
  .mobile_item {
    height: 254px;
    padding: 80px 40px 0 40px;
  }
  .mobile_item_subtittle {
    font-size: 18px;
  }
  .mobile_item_plus {
    bottom: 28px;
  }
  .mobile .tittle {
    font-size: 16px;
    margin-top: 16px;
    line-height: 16px;
  }
  .mobile .subtittle {
    font-size: 14px;
    margin-top: 9px;
  }
  .choice {
    padding: 27px 0 31px 0;
    min-height: 390px;
    background: #000;
  }
  .choice_img {
    margin-top: 35px;
  }
  .choice_descr {
    margin-top: 23px;
    font-size: 17px;
    color: #ffffff;
  }
  .choice .black {
    display: none;
  }
  .hidden_320 {
    display: none;
  }
  .require {
    padding: 22px;
  }
  .require_block {
    margin: 30px 0 0 0;
  }
  .require .tittle {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .require_tittle {
    font-size: 16px;
  }
  .require_list {
    margin-top: 5px;
    padding-left: 30px;
  }
  .require_list li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .require_descr {
    font-size: 14px;
    margin-top: 15px;
  }
  .world {
    min-height: 360px;
    padding: 26px 0 30px 0;
  }
  .world .tittle_white {
    margin-top: 16px;
    font-size: 16px;
    line-height: 16px;
  }
  .world .subtittle_white {
    font-size: 14px;
    margin-top: 11px;
  }
  .world .world_all_cities {
    display: block;
    width: 220px;
    bottom: 30px;
    line-height: 15px;
  }
  footer {
    padding: 25px 0 20px 0;
  }
  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  .footer_wrapper {
    padding-top: 22px;
  }
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  .footer_links {
    width: 290px;
  }
  .footer_links_main {
    padding: 0;
  }
  .footer_links_main a {
    font-size: 14px;
  }
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_links_sub a {
    margin: 0 19px;
  }
  .footer_links_sub .ez {
    margin: 0 28px;
  }
  .footer_links_lang {
    margin-top: 10px;
  }
}
